__pycache__/

show-attend-tell/pretrained/*
!show-attend-tell/pretrained/README.md

learn-to-pay-attention/pretrained-before/*
!learn-to-pay-attention/pretrained-before/README.md
learn-to-pay-attention/pretrained-after/*
!learn-to-pay-attention/pretrained-after/README.md

attention-branch-network/pretrained-cifar100-resnet110/*
!attention-branch-network/pretrained-cifar100-resnet110/README.md
attention-branch-network/pretrained-cifar100-resnext/*
!attention-branch-network/pretrained-cifar100-resnext/README.md
attention-branch-network/pretrained-cifar100-densenet/*
!attention-branch-network/pretrained-cifar100-densenet/README.md
attention-branch-network/pretrained-imagenet2012-resnet50/*
!attention-branch-network/pretrained-imagenet2012-resnet50/README.md
attention-branch-network/pretrained-imagenet2012-resnet101/*
!attention-branch-network/pretrained-imagenet2012-resnet101/README.md
