__pycache__/

show-attend-tell/pretrained/*
!show-attend-tell/pretrained/README.md

learn-to-pay-attention/pretrained-before/*
!learn-to-pay-attention/pretrained-before/README.md
learn-to-pay-attention/pretrained-after/*
!learn-to-pay-attention/pretrained-after/README.md
